Source: testtest
Section: python
Priority: extra
Maintainer: Anonymous Goat <goat@example.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 1.0)
Standards-Version: 3.9.5

Package: testtest
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7-minimal, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, python2.7-minimal,
 libffi5 | libffi6, build-essential, libmysqlclient18, libxslt1.1,
 mysql-client, xvfb, liblua5.2-0
Description: Test Test
 A test by the anonymous goat
